.todolist-wrapper {
  width: 50%;
  margin: 0 auto;
  form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 50000px;
    overflow: hidden;
    background-color: rgba(#fff, 0.1);
    input {
      flex: 1;
      border: none;
      background-color: transparent;
      padding: 20px 50px;
      outline: none;
      color: #fff;
    }
    button {
      border: none;
      color: #fff;
      background: var(--primary);
      border-radius: 500px;
      padding: 15px 30px;
      cursor: pointer;
      outline: none;
    }
  }
  ul {
    margin: 30px 0;
    padding: 0;
    display: flex;
    list-style: none;
    flex-direction: column;
    li {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 15px 0;
      button {
        background: var(--primary);
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 100px;
        padding: 15px;
      }
    }
  }
}
